@import "theme.scss";

.page-forest{
  overflow: hidden;
  text-align: center;
  main{
    padding: 0;
  }
}
.wrapslide{
  width: 100%;
  height: calc(100vh - 154px);
  position: relative;
  overflow: hidden;
  margin: auto;
  background: $color-light;
  padding: 10px 0;
  .slide{
    width: auto;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.25s ease-out;
    > li{
      float: left;
      max-width: 100vw;
      height: 100%;
      position: relative;
      transition: all 0.25s ease-out;
      .box-img{
        position: relative;
        background: center;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .slide-fullheight {
    img{
      opacity: 0;
    }
    .box-img{
      margin: 0 auto;
      max-width: calc(100% - 10px);
    }
  }
  .slide.initSlide{
    opacity: 1;
  }
  > a{
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    transition: all 0.25s ease-out;
    opacity: 0;
    color: $color-light;
    font-size: 2.5em;
    cursor: pointer;
    p{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      text-align: center;
      transform: translate(-50%,-50%);
    }
  }
  &:hover > a{
    opacity: 1;
  }
  > a.disable{
    opacity: 0;
    pointer-events: none;
  }
  .btn-prev{
    left: 0;
    background: rgba(0,0,0,0.25);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 44%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.25)), color-stop(44%, rgba(0,0,0,0.25)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 44%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 44%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 44%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 44%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    p{      
      padding-right: 20px;
    }
  }
  .btn-next{    
    right: 0;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 56%, rgba(0,0,0,0.25) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(56%, rgba(0,0,0,0.25)), color-stop(100%, rgba(0,0,0,0.25)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 56%, rgba(0,0,0,0.25) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 56%, rgba(0,0,0,0.25) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 56%, rgba(0,0,0,0.25) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 56%, rgba(0,0,0,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    p{
      padding-left: 20px;
    }
  }
}
.box-btn{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.35s ease-out;
  ul{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    text-align: center;
    transform: translate(-50%,-50%);
    li{
      min-width: 30%;
      padding: 20px;
      display: inline-block;
    }
    a{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      color: rgba($color-light,.9);
      font-size: 2.5em;
      text-align: center;
      display: block;
      margin: 0 auto;
      position: relative; 
      cursor: pointer;
      overflow: hidden;
      box-sizing: border-box;      
      &:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.25s ease-out;
        background-color: rgba($color: #000000, $alpha: 0)
      }
      &:hover {
        border: 8px solid rgba($color-light,.4);
      }
      &:active {
        top: 1px;
      }
      i{
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        z-index: 2;
      }     
    }
    .btn-save{
      background-color: $color-primary;
    }
    .btn-remove{
      background-color: $color-error;
    }
  }
}
.box-btn:hover{
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .box-btn ul a{
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .box-btn ul a{
    width: 90px;
    height: 90px;
  }
}