@import "theme.scss";

.page-index{
	text-align: center;
	h1{
		padding: 30px 0;
	}
	main > .btn{
		background: $color-light;
		color: $color-primary;
		display: inline-block;
		margin-top: 20px;
		border-radius: 20px;
		line-height: 40px;
		padding: 0 15px;
		font-size: 1.2em;
		font-family: $font-head;
		&:hover{
			background: $color-hl;
		}
	}
}
.list-profile{
	li{
		padding-bottom: 10px;
		b{
			display: inline-block;
			color: $color-dark;
			font-size: 1.2em;
			padding-right: 5px;
			font-family: $font-head;
		}
		p{
			display: inline-block;
			color: $color-detail;
		}
		a{
			display: block;
			color: $color-detail;
			position: relative;
			padding-bottom: 2px;
		}
		a:after{
			content: '';
			width: 0px;
			height: 1px;
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			background: $color-primary;
			transform: translate(-50%,0); 
			transition: all 0.25s ease-out;
		}
		a:hover:after{
			width: 100%;
		}
	}
	li:last-child{
		padding-bottom: 0;
	}
}
.list-img{
	padding: 40px 0 50px;
	margin: 0 -15px;
	display: block;
	font-size: 0;
	li{
		display: inline-flex;
		width: 33.33%;
		padding: 15px;
		span{
			display: block;
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 100%;
		}
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			display: block;			
			opacity: 0;
			transition: all 0.2s ease-out;
		}
		img.loaded{			
			opacity: 1;
		}
	}
}
@media screen and (max-width: 1300px) {
	.page-index h1 {
    padding: 25px 0;
	}
}
@media screen and (max-width: 1024px) {
	.list-img li{
		width: 50%;
	}	
}
@media screen and (max-width: 600px) {
	.page-index h1 {
    padding: 20px 0;
	}
	.list-img{
		padding: 20px 0;
		margin: 0;
		li{
			width: 100%;
			padding: 10px 0;
		}	
	}
}